/* CSS cho nút */
.link-wrapper {
  display: inline-block;
  margin: 5px;
}

.link-wrapper a {
  display: inline-block;
  text-decoration: none;
  background-color: #3d5a80;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.link-wrapper a:hover {
  background-color: #2a415c;
}
