/* styles.css */
@import url("https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css");

/* Thêm CSS này vào tệp stylesheet của bạn */
.custom-button {
  margin-right: 10px; /* Tạo khoảng cách giữa các nút */
  transition: background-color 0.3s ease; /* Chuyển đổi màu nền với hiệu ứng */
}

.custom-button:hover {
  background-color: #007bff; /* Thay đổi màu nền khi di chuột vào */
  color: #fff; /* Thay đổi màu văn bản khi di chuột vào */
}

/* Bạn có thể tùy chỉnh màu nền và màu văn bản khi di chuột vào theo ý muốn */
